<div class="container">
  <form class="form-horizontal">
    <div *ngIf="showAlert" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Informe um cep válido
    </div>
    <div class="form-group">
      <label for="nome" class="col-sm-2 control-label">Nome:</label>
      <div class="col-sm-10">
        <input type="text" id="nome" [(ngModel)]="nome" name="nome" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-10">
        <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="cep" class="col-sm-2 control-label">CEP:</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="cep" [(ngModel)]="cep" name="cep" class="form-control" required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" (click)="searchCep()">Pesquisar</button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="logradouro" class="col-sm-2 control-label">Logradouro:</label>
      <div class="col-sm-10">
        <input type="text" id="logradouro" [(ngModel)]="address.logradouro" name="logradouro" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="bairro" class="col-sm-2 control-label">Bairro:</label>
      <div class="col-sm-10">
        <input type="text" id="bairro" [(ngModel)]="address.bairro" name="bairro" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="localidade" class="col-sm-2 control-label">Localidade:</label>
      <div class="col-sm-10">
        <input type="text" id="localidade" [(ngModel)]="address.localidade" name="localidade" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="uf" class="col-sm-2 control-label">UF:</label>
      <div class="col-sm-10">
        <input type="text" id="uf" [(ngModel)]="address.uf" name="uf" class="form-control" readonly>
      </div>
    </div>
  </form>
</div>